In [1]:
import pandas as pd

In [4]:
gapminder = pd.read_csv('data/gapminder.tsv',sep = '\t')

In [5]:
gapminder

          country continent  year  lifeExp       pop   gdpPercap
0     Afghanistan      Asia  1952   28.801   8425333  779.445314
1     Afghanistan      Asia  1957   30.332   9240934  820.853030
2     Afghanistan      Asia  1962   31.997  10267083  853.100710
3     Afghanistan      Asia  1967   34.020  11537966  836.197138
4     Afghanistan      Asia  1972   36.088  13079460  739.981106
...           ...       ...   ...      ...       ...         ...
1699     Zimbabwe    Africa  1987   62.351   9216418  706.157306
1700     Zimbabwe    Africa  1992   60.377  10704340  693.420786
1701     Zimbabwe    Africa  1997   46.809  11404948  792.449960
1702     Zimbabwe    Africa  2002   39.989  11926563  672.038623
1703     Zimbabwe    Africa  2007   43.487  12311143  469.709298

[1704 rows x 6 columns]

In [8]:
gap = gapminder['country']

In [9]:
gap

0       Afghanistan
1       Afghanistan
2       Afghanistan
3       Afghanistan
4       Afghanistan
           ...
1699       Zimbabwe
1700       Zimbabwe
1701       Zimbabwe
1702       Zimbabwe
1703       Zimbabwe
Name: country, Length: 1704, dtype: object

In [18]:
list1 = ['country','year','pop']

In [19]:
list1

['country', 'year', 'pop']

In [20]:
gap2 = gapminder[list1]

In [21]:
gap2

          country  year       pop
0     Afghanistan  1952   8425333
1     Afghanistan  1957   9240934
2     Afghanistan  1962  10267083
3     Afghanistan  1967  11537966
4     Afghanistan  1972  13079460
...           ...   ...       ...
1699     Zimbabwe  1987   9216418
1700     Zimbabwe  1992  10704340
1701     Zimbabwe  1997  11404948
1702     Zimbabwe  2002  11926563
1703     Zimbabwe  2007  12311143

[1704 rows x 3 columns]

In [22]:
gapminder.loc[845]

country      Korea, Rep.
continent           Asia
year                1977
lifeExp           64.766
pop             36436000
gdpPercap        4657.22
Name: 845, dtype: object

In [23]:
list2 = [100,200,300,400]

In [25]:
gap3 = gapminder.loc[list2]

In [26]:
gap3

            country continent  year  lifeExp       pop     gdpPercap
100      Bangladesh      Asia  1972   45.252  70759295    630.233627
200    Burkina Faso    Africa  1992   50.260   8878303    931.752773
300        Colombia  Americas  1952   50.643  12350771   2144.115096
400  Czech Republic    Europe  1972   70.290   9862158  13108.453600

NameError: name 'tab' is not defined